<div class="list-group">

                    <form asp-action="ViewAddRecord"
                          asp-controller="Record" method="post">
                        <button type="submit"  class="d-inline-flex btn btn-block btn-primary list-group-item">
                            Добавить запись
                        </button>
                    </form>
</div>
