@{
    ViewData["Title"] = "Записная книжка";
}
<div class="card card-outline-primary m-1 p-1">
    <div class="card-header bg-faded p-1 bg-primary text-white">
        Добавить запись
    </div>
    <div class="card-body">        
        <div>
            Запись добавлена
        </div>
    </div>
</div>